.container {

    text-align: center;
    width: 544px;
    height: 80px;
    margin: 0 auto;
    /*border: aqua solid 1px;*/

    /*backdrop-filter: blur(10px);*/
}


.head {
    height: 300px;
    text-align: center;
    margin-top: 100px;
    -webkit-text-stroke: 1px white;
    color: #549393;
}

.buttons {
    background: url("../img/glass.png");
    border: white solid 3px;
    width: 100px;
    height: 50px;
    float: left;
    margin: 15px;
    display: flex;
    align-items: center;
    border-radius: 200px;
    backdrop-filter: blur(10px);

    text-decoration: none;
    text-transform: uppercase;

    box-shadow: -1px 3px 10px -5px black;

}



.buttons:hover::before{
    left: 70%;
}
.buttons:hover::after{
    left: 70%;
}

.buttons p {
    letter-spacing: 2px;
    margin: 0 auto;
    color: black;

}

.bg {
    text-align: center;
    width: auto;
    height: auto;
}

body {
    background: url("https://tenapi.cn/acg");
    height: 100%;
    margin: 0;
    padding: 0;

}

head {
    height: 100%;
    margin: 0;
    padding: 0;
}
